.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress.active .progress-bar, .progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar, .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



#wplg_synchronization_select_category{
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #c8c8c8 #c8c8c8 #aaa;
    background: #fff;
    font: 12px arial, helvetica, sans-serif;
    vertical-align: middle;    
    width: auto;
    float: left;
    clear: both;    
    margin-bottom: 4px;
    margin-left: 5px;
    padding: 1px;
}
/*.wplg-synchronization-file-loaded{
    color:#ccc;
}*/
#wplg-synchronization-table-files-to-import {
    border-collapse: collapse;
    margin-bottom: 5px;
    text-align: center;
}

table#wplg-synchronization-table-files-to-import td {
    border: 1px solid black;
    margin: 5px;
    padding: 2px;
}

.wplg-synchronization-import-textarea {
    width: 100% !important; 
    height: auto !important; 
    margin-left: 10px;
}

#wplg_synchronization_export_products_result {
    border: 1px solid #ccc;
    padding: 5px;
    max-width: 500px;
    max-height: 114px;
    height: 114px;
    width: auto;
    overflow: scroll;
}

#wplg_synchronization_export_products_textarea {
    padding: 5px;
    min-width: 500px;
    max-width: 600px;
    max-height: 114px;
    width: auto;
    overflow: scroll;
}

#wplg_synchronization_export_categories_textarea {
    padding: 5px;
    min-width: 500px;
    max-width: 600px;
    max-height: 114px;
    width: auto;
    overflow: scroll;
}

#wplg_synchronization_export_product_types_textarea {
    padding: 5px;
    min-width: 500px;
    max-width: 600px;
    max-height: 114px;
    width: auto;
    overflow: scroll;
}