<style>
.columnYes { 
    column-count: 3; /*количество колонок, на которое хотим разбить текст*/
    -moz-column-count: 3; /*для мозилы*/
    -webkit-column-count: 3; /*для webkit браузеров*/
    colum-gap: 40px; /*отступ между колонками*/
    -moz-colum-gap: 40px;
    -webkit-colum-gap: 40px;
}
</style>
<h1>Список категорий</h1>

<?php 
$listCatMagento = Mage::helper('synchronization')->getListCategory(); ?>
<div class="columnYes">
<?php foreach ($listCatMagento as $list) : ?>
    <p><?php echo $list[id] ?> - <?php echo $list[name] ?></p> 
<?php endforeach; ?>
</div>
<br />
<p> ================================================================ </p>
<br />  
<h1>Список наборов аттрибутов</h1>
<?php
$attributeSets = Mage::getModel('catalog/product_attribute_set_api')->items(); ?>
<div class="columnYes">
<?php foreach ($attributeSets as $attributeSet) : ?>
    <p><?php echo $attributeSet['set_id'] ?> - <?php echo $attributeSet['name'] ?></p>
<?php endforeach; ?>
</div>
<br />
<p> ================================================================ </p>
<br />
<?php

/* $attributes = Mage::getModel('catalog/product')->getAttributes(); */

$attributes = Mage::getSingleton('eav/config')
  ->getEntityType(Mage_Catalog_Model_Product::ENTITY)
  ->getAttributeCollection()
  ->addSetInfo();


foreach ($attributes as $attr) {
    if (($attr->getData('frontend_input') == 'select' || $attr->getData('frontend_input') == 'multiselect') && $attr->getData('is_user_defined') == 1) {

        echo '<h1>' . $attr->getData('frontend_label') . '|' . $attr->getData('frontend_input') . '|' . $attr->getData('attribute_code') . '|' . $attr->getData('attribute_id') . '</h1>';
        $listAttrMnfct = $attr->getSource()->getAllOptions(false);
        ?>
        <div class="columnYes">
            <?php foreach ($listAttrMnfct as $list) : ?>
                <p><?php echo $list['value'] ?> - <?php echo $list['label'] ?></p>
            <?php endforeach; ?>
        </div>
        <br/>
        <p> ================================================================ </p>
        <br/>

    <?php }
} ?>
