<?php $helper = Mage::helper('synchronization'); ?>

<form id="edit_form" name="edit_form" action="<?php echo $this->getUrl('*/*/uploadImportCSV', array('type' => 'importCSV')); ?>" method="post" enctype="multipart/form-data">
    <div>
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>">
        <input name="process_progress" id="process_progress" type="hidden" value="<?php echo $this->getUrl('*/*/processProgress'); ?>">
        <input name="process" id="process" type="hidden" value="<?php echo $this->getUrl('*/*/process'); ?>">
    </div>
    <div id="urls_tabs_form_section_content">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Upload a file CSV Import'); ?></h4>
                <div class="form-buttons"></div>
            </div>
            <div class="fieldset " id="grab_form">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                            <tr>
                                <td class="value"><input type="file" title="File" name="importCSV"></td>
                                <td class="value" colspan="2">
                                    <button type="submit" title="Save"><span><?php echo $this->__('Upload'); ?></span></button>
                                </td>
                                <td class="value" colspan="2">
                                    <span>
                                        <?php
                                        $modelFilestoimport = Mage::getModel("synchronization/filestoimport");
                                        $files = $modelFilestoimport->getFilesToImport();
                                        ?>
                                        <div id="wplg-sync-files-container">
                                            <table id="wplg-synchronization-table-files-to-import">
                                                <tr>
                                                    <td> <?php echo $this->__('Filename'); ?> </td>
                                                    <td> <?php echo $this->__('Position'); ?> </td>
                                                    <td> <?php echo $this->__('Total rows'); ?> </td>
                                                </tr>
                                                <?php
                                            foreach ($files as $file) {
                                                echo '<tr>';
                                                echo '<td id="wplg-synchronization-file-' . $file['id'] . '" class="wplg-synchronization-file-loaded">' . $file['filename'] . '</td>';
                                                echo '<td id="wplg-synchronization-file-' . $file['id'] . '-position' . '" class="wplg-synchronization-file-loaded">' . $file['position'] . '</td>';
                                                echo '<td id="wplg-synchronization-file-' . $file['id'] . '-total_rows' . '" class="wplg-synchronization-file-loaded">' . $file['total_rows'] . '</td>';
                                                echo '</tr>';
                                            }
                                            ?>
                                            </table>
                                        </div>

                                    </span>
                                    <span>
                                        <button id="wplg_synchronization_btn_process"
                                                name="wplg_synchronization_btn_process"
                                                type="button"
                                                title="Process">
                                            <span>
                                                <?php echo $this->__('Process'); ?>
                                            </span>
                                        </button>
                                    </span>
                                </td>
                                <td class="value">
                                    <textarea id="wplg-synchronization-import-products-textarea" class="form-control wplg-synchronization-import-textarea" rows="5" cols="120" name="comment" disabled ><?php
                                        $messagesImportProducts = unserialize(Mage::getSingleton('core/session')->getMessageImportProducts(true));
                                        foreach ($messagesImportProducts as $message) {
                                            echo $message . "\n";
                                        }
                                    ?></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <?php echo $this->__('Import products'); ?>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" id="tbl_progress" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only" id="tbl_progress_text">  </span>
                        </div>
                        <script type="text/javascript">
                            var tblToGrabProgress = 0;
                            var tblToGrabProgressStep = 0;
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="wplg_synchronization_category_form" name="wplg_synchronization_category_form" action="<?php echo $this->getUrl('*/*/uploadImportCSV', array('type' => 'category')); ?>" method="post" enctype="multipart/form-data">
    <div>
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>">
        <input name="test" type="hidden" value="<?php echo $this->getUrl('*/*/parseCategoryCSV', array('id' => $this->getRequest()->getParam('id'))); ?>"> <!-- TEST -->
    </div>
    <div id="urls_tabs_form_section_content">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Upload CSV file to import categories'); ?></h4>
                <div class="form-buttons"></div>
            </div>
            <div class="fieldset " id="import_form">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                            <tr>
                                <td class="value"><input type="file" title="File" name="importCategoryCSV"></td>
                                <td class="value" colspan="2">
                                    <button type="submit" title="Save"><span><?php echo $this->__('Upload'); ?></span></button>
                                </td>
                                <td class="value">
                                    <textarea id="wplg-synchronization-import-categories-textarea" class="form-control wplg-synchronization-import-textarea" rows="5" cols="80" name="comment" disabled ><?php
                                        $messagesImportCategories = unserialize(Mage::getSingleton('core/session')->getMessageImportCategories(true));
                                        foreach ($messagesImportCategories as $message) {
                                            echo $message . "\n";
                                        }
                                    ?></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="wplg_synchronization_product_type_form" name="wplg_synchronization_product_type_form" action="<?php echo $this->getUrl('*/*/uploadImportCSV', array('type' => 'productType')); ?>" method="post" enctype="multipart/form-data">
    <div>
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>">
        <input name="test" type="hidden" value="<?php echo $this->getUrl('*/*/parseProductTypeCSV', array('id' => $this->getRequest()->getParam('id'))); ?>">
    </div>
    <div id="urls_tabs_form_section_content">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Upload CSV file to import product types'); ?></h4>
                <div class="form-buttons"></div>
            </div>
            <div class="fieldset " id="import_form">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                            <tr>
                                <td class="value"><input type="file" title="File" name="importProductTypeCSV"></td>
                                <td class="value" colspan="2">
                                    <button type="submit" title="Save"><span><?php echo $this->__('Upload'); ?></span></button>
                                </td>
                                <td class="value">
                                    <textarea id="wplg-synchronization-import-product-types-textarea" class="form-control wplg-synchronization-import-textarea" rows="5" cols="80" name="comment" disabled ><?php
                                        $messagesImportProductTypes = unserialize(Mage::getSingleton('core/session')->getMessageImportProductTypes(true));
                                        foreach ($messagesImportProductTypes as $message) {
                                            echo $message . "\n";
                                        }
                                    ?></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>