<?php
$helper = Mage::helper('synchronization');
$categoriesForMultiselect = Mage::getModel('synchronization/category')->toOptionArray();
$exportModel = Mage::getModel('synchronization/export');
$pathForProductExportFiles = $helper->getSyncPath($exportModel->getSubPathForProductExportFiles());
$pathForCategoryExportFiles = $helper->getSyncPath($exportModel->getSubPathForCategoriesExportFiles());
$pathForProductTypesExportFiles = $helper->getSyncPath($exportModel->getSubPathForProductTypesExportFiles());
?>

<div id="wplg_synchronization_export_products_url_div">
    <input id="wplg_synchronization_export_products_url" name="wplg_synchronization_export_products_url" type="hidden" value="<?php echo $this->getUrl('*/*/exportproducts'); ?>">
</div>
<form id="wplg_synchronization_export_products_form" name="wplg_synchronization_export_products_form">
    <div>
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>">
    </div>
    <div id="urls_tabs_form_section_content">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Synchronization, Export products'); ?></h4>
                <div class="form-buttons"></div>
            </div>
            <div class="fieldset " id="import_form">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                        <tr>
                            <td class="value" colspan="2">
                                <p for="wplg_synchronization_export_products_select">
                                    <?php echo $this->__('Select Category...'); ?>
                                </p>
                                <select id="wplg_synchronization_export_products_select" name="wplg_synchronization_export_products_select[]" class="select multiselect" multiple="true">
                                    <?php foreach ($categoriesForMultiselect as $key => $categoryForMultiselect): ?>
                                        <?php if($key == 0 || $key == 1) continue; ?>
                                            <option value="<?php echo $categoryForMultiselect['value']; ?>"><?php echo $categoryForMultiselect['label']; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </td>
                            <td class="value" colspan="2">
                                <button id="wplg_synchronization_export_products_btn"
                                        name="wplg_synchronization_export_products_btn"
                                        type="button"
                                        title="<?php echo $this->__('Synchronization, Export products'); ?>">
                                <span>
                                    <?php echo $this->__('Synchronization, Export products'); ?>
                                </span>
                                </button>
                            </td>
                            <td class="value" colspan="2">
                                <div id="wplg_synchronization_export_products_result">
                                    <?php
                                    $productExportFilesNames = $helper->getListOfFilesInDirectory($pathForProductExportFiles);
                                    if ($productExportFilesNames) :
                                        echo '<ul>';
                                        foreach ($productExportFilesNames as $fileName):
                                            echo '<li>';
                                            echo '<a class="button" href="' . $helper->getSyncDirUrl($exportModel->getSubPathForProductExportFiles()). $fileName . '" download>' . $fileName . '</a>';
                                            echo '</li>';
                                        endforeach;
                                        echo '</ul>';
                                    endif;
                                    ?>
                                </div>
                            </td>
                            <td class="value">
                                    <textarea id="wplg_synchronization_export_products_textarea" rows="5" cols="80" name="comment" disabled ><?php
                                        $messagesExportProducts = unserialize(Mage::getSingleton('core/session')->getMessageExportProducts(true));
                                        foreach ($messagesExportProducts as $message) {
                                            echo $message . "\n";
                                        }
                                        ?></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>


<div id="wplg_synchronization_export_categories_url_div">
    <input id="wplg_synchronization_export_categories_url" name="wplg_synchronization_export_categories_url" type="hidden" value="<?php echo $this->getUrl('*/*/exportcategories'); ?>">
</div>
<form id="wplg_synchronization_export_categories_form" name="wplg_synchronization_export_categories_form">
    <div>
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>">
    </div>
    <div id="urls_tabs_form_section_content">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Synchronization, Export categories'); ?></h4>
                <div class="form-buttons"></div>
            </div>
            <div class="fieldset " id="import_form">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                        <tr>
                            <td class="value" colspan="2">
                                <button id="wplg_synchronization_export_categories_btn"
                                        name="wplg_synchronization_export_categories_btn"
                                        type="button"
                                        title="<?php echo $this->__('Synchronization, Export categories'); ?>">
                                <span>
                                    <?php echo $this->__('Synchronization, Export categories'); ?>
                                </span>
                                </button>
                            </td>
                            <td class="value" colspan="2">
                                <div id="wplg_synchronization_export_categories_result">
                                    <?php
                                    $categoryExportFilesNames = $helper->getListOfFilesInDirectory($pathForCategoryExportFiles);
                                    if ($categoryExportFilesNames) :
                                        echo '<ul>';
                                        foreach ($categoryExportFilesNames as $fileName):
                                            echo '<li>';
                                            echo '<a class="button" href="' . $helper->getSyncDirUrl($exportModel->getSubPathForCategoriesExportFiles()). $fileName . '" download>' . $fileName . '</a>';
                                            echo '</li>';
                                        endforeach;
                                        echo '</ul>';
                                    endif;
                                    ?>
                                </div>
                            </td>
                            <td class="value">
                                    <textarea id="wplg_synchronization_export_categories_textarea" rows="5" cols="80" name="comment" disabled ><?php
                                        $messagesExportCategories = unserialize(Mage::getSingleton('core/session')->getMessageExportCategories(true));
                                        foreach ($messagesExportCategories as $message) {
                                            echo $message . "\n";
                                        }
                                        ?></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>


<div id="wplg_synchronization_export_product_types_url_div">
    <input id="wplg_synchronization_export_product_types_url" name="wplg_synchronization_export_product_types_url" type="hidden" value="<?php echo $this->getUrl('*/*/exportproducttypes'); ?>">
</div>
<form id="wplg_synchronization_export_product_types_form" name="wplg_synchronization_export_product_types_form">
    <div>
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>">
    </div>
    <div id="urls_tabs_form_section_content">
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Synchronization, Export product types'); ?></h4>
                <div class="form-buttons"></div>
            </div>
            <div class="fieldset " id="import_form">
                <div class="hor-scroll">
                    <table cellspacing="0" class="form-list">
                        <tbody>
                        <tr>
                            <td class="value" colspan="2">
                                <button id="wplg_synchronization_export_product_types_btn"
                                        name="wplg_synchronization_export_product_types_btn"
                                        type="button"
                                        title="<?php echo $this->__('Synchronization, Export product types'); ?>">
                                <span>
                                    <?php echo $this->__('Synchronization, Export product types'); ?>
                                </span>
                                </button>
                            </td>
                            <td class="value" colspan="2">
                                <div id="wplg_synchronization_export_product_types_result">
                                    <?php
                                    $productTypesExportFilesNames = $helper->getListOfFilesInDirectory($pathForProductTypesExportFiles);
                                    if ($productTypesExportFilesNames) :
                                        echo '<ul>';
                                        foreach ($productTypesExportFilesNames as $fileName):
                                            echo '<li>';
                                            echo '<a class="button" href="' . $helper->getSyncDirUrl($exportModel->getSubPathForProductTypesExportFiles()). $fileName . '" download>' . $fileName . '</a>';
                                            echo '</li>';
                                        endforeach;
                                        echo '</ul>';
                                    endif;
                                    ?>
                                </div>
                            </td>
                            <td class="value">
                                    <textarea id="wplg_synchronization_export_product_types_textarea" rows="5" cols="80" name="comment" disabled ><?php
                                        $messagesExportProductTypes = unserialize(Mage::getSingleton('core/session')->getMessageExportProductTypes(true));
                                        foreach ($messagesExportProductTypes as $message) {
                                            echo $message . "\n";
                                        } ?></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>